/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family: Helvetica, sans-serif;
	background: rgb(20,20,20);
	color: rgb(200,155,155);
	margin: 5px;           /* Optional; this puts space between the viewport and #container */
	
}


#container {
	border: 2px dashed rgb(155,155,155);
	background: rgb(0,0,0);                /* You can change this number */
	margin: auto;
	padding: 10px;
	
	overflow: hidden;
}

#container p {
	
	text-align: center;
}

header {
	
	text-align: center;
}

ul {
	list-style: none;
	padding-left: 0px;
}

a {
	color: rgb(0,0,0);
}

a:hover {
	color: rgb(255,0,0);
}

figure {
	margin-bottom: 10px;
}

figure img {
	
	width: 100%;
	filter: drop-shadow(0 0 0.75rem crimson);
}
	

figcaption, footer {
	font-size: 0.75em;
}

.card {
	
	background-color: #FFEC91;
}

.card figcaption{
	
	color: black;
	padding: 10px;
}

#cardgrid {
	
	margin: auto;
}

.mobile {
	
	display: block;
}

.desktop {
	
	display: none;
}

@media all and (min-width: 600px) {
	
#container {
	
	margin: 10px;
	
}

.card {
	
	width: 100%;
	max-width: 210px;
	
	height: 100%;
	max-height: 400px;
	
}

.card img {
	
	width: 100%;
	max-width: 200px;
	padding: 5px;
}

#cardgrid {
	
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
	padding: 10px;
	
	width: 100%;
	max-width: 800px;
	justify-content: center;
	
	
}
	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 768px) {
	
.card {
	
	width: 100%;
	max-width: 210px;
	
	height: 100%;
	max-height: 400px;
	
}

.card img {
	
	width: 100%;
	max-width: 200px;
	padding: 5px;
}

#cardgrid {
	
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
	
	width: 100%;
	max-width: 800px;
	justify-content: center;
	
	
}

.mobile {
	
	display: none;
}

.desktop {
	
	display: block;
}
	
} /* closes 768px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
#container {
	
	width: 100%;
	max-width: 1200px;
	margin: 10px auto 10px auto;
	
}

figure {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.card {
	
	width: 100%;
	max-width: 210px;
	
	height: 100%;
	max-height: 400px;
	
}

.card img {
	
	width: 100%;
	max-width: 200px;
	padding: 5px;
}

#cardgrid {
	
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: 10px;
	
	width: 100%;
	max-width: 800px;
	justify-content: center;
	
	
}
	
} /* closes 1200px+ */