/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

body {
	
	background-color: black;
	
}

main {
	
	height: 100%;
}

#container {
	
	background-color: gray;
	
	padding: 20px;
	
	text-align: center;
	
	
}

#bg1 {
	
	background-image: url("../img/redSoulpfp.png");
}

#bg2 {
	
	background-image: url("../img/redvoxremember.png");
}

.parallax {

  /* Set a specific height */
  height: 100%;
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (min-width: 992px) {
	
	#container {
		
		width: 100%;
		max-width: 900px;
		
		margin: auto;
	}
}